.LandingPage {
    // CSS Rules
    //background-color: @blue;
    // LESS mixins

    .column;
    // Nested elements in each component
    h6 {
        text-decoration: italic;
    }
    .sections{
    	position: relative;
    }
    
}

@media screen and (min-width: @sm) {
    .LandingPage{
		.team{
			height: 400px;
			width: 55vw;
			top: 600px;
	    }
	}
}