.Qoute{
	background-color: @gray;
	width: 60vw;
	height: 200px;
	position: absolute;
	top: 100px;
	clip-path: polygon(0 1%, 69% 1%, 88% 50%, 0 78%);
	background: linear-gradient(-133deg, #eeeeee, #bdbdbd);

}

@media screen and (min-width: @sm) {
    .Qoute{
    	width: 62vw;
		height: 550px;
		position: absolute;
		top: 350px;
		clip-path: polygon(0 1%, 70.5% 1%, 86% 40.5%, 0 78%);
		box-shadow: none;
		transition: box-shadow .2s ease;
	}
	.Qoute:hover{
		 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
}