.Sections{
	position: relative;
	.team{
    	background-image: url('http://d1wbxby8dwa4u.cloudfront.net/namecheap/businessTeam.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: bottom right;
		height: 430px;
		width: 55vw;
		position: absolute;
		top: 600px;
		right: 1px;
    }
    .table{
    	background-image: url('http://d1wbxby8dwa4u.cloudfront.net/namecheap/teamTable.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: top right;
		height: 300px;
		width: 55vw;
		position: absolute;
		top: 80px;
		left: 1px;
		z-index: 20;
    }
}